/* Shadow Radial Effect on Hover */
.gallerycollections {   
    -webkit-transform: perspective(1px) translateZ(0); 
    transform: perspective(1px) translateZ(0);    
}

.gallerycollections::before {
    content: "";
    position: absolute;   
    width: 100%;
    height: 100%;    
    background: black;
    opacity: 0.75;
    transform: scale(0) ;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;    
}

.gallerycollections:hover:before,
.gallerycollections:focus:before,
.gallerycollections:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);   
}

.image {    
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.labelText {  
    font-size: 14px;  
    color: white;
    font-weight: 500;    
    text-transform: uppercase;
    text-align: center;
    position: absolute;    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    

    opacity: 0;
    transition: opacity 0.5s ease-in;    
}
.gallerycollections:hover>.labelText {
    z-index: 100;
    opacity: 1;    
}




