.portfolioButtons__wrapper {
    position: relative;
    width: auto;
    display: flex;    
    justify-content: center;
    margin-right: 10px;
}

@keyframes draw {
    0% {
        stroke-dasharray: 250 620;
        stroke-dashoffset: -474;
        stroke-width: 2px;
    }

    100% {
        stroke-dasharray: 760;
        stroke-dashoffset: 0;
        stroke-width: 7px;
    }
}

.portfolioButtons__wrapper:hover .shape {
    -webkit-animation: 0.5s draw linear forwards;
    animation: 0.6s draw linear forwards;
}

.shape {
    fill: transparent;
    stroke-width: 3px;
}

.shape.active {
    stroke-dasharray: 200 0;
    stroke-width: 6px;
    fill: rgb(255, 188, 100);
    fill-opacity: 100%;
}

.portfolioButtons__wrapper:hover .text {
    color: #373737;
}

.text {
    text-transform: uppercase;
    color: #373737;
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 10px;
}
