.profileBody {
    padding: 24px 0;
}

.buttons>ul {
    display: flex;
}

/* Isotope */
.gallery__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    overflow: hidden;    
}

.filter-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31%;
    height: 170px;
    margin: 0 8px 8px 0;     
}

.filter-item > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/******************************************** Pagination */
.portfolio__navigator{
    width: 100%;
    display: flex;
    margin-top: 24px;
    justify-content: space-between;
}
.pagination {
    display: flex;        
}

.pagination > button{
    font-size: 16px;
    padding: 4px 8px;
    margin-right: 2px;
    border: none;
    outline-style: none;
}

.page__number{
    color: gray;
    font-size: 16px;
}



