.profileBody {
    padding: 24px 0;
}

.buttons>ul {
    display: flex;
}

/* Isotope */
.gallery__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    overflow: hidden;    
}

.filter-item {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 31%;
    height: 170px;
    margin: 0 16px 16px 0;     
}

.filter-item > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/****************************************************** Gallery Effect */
/* .gallery__container:hover img {
    opacity: 0.3;
}

.gallery__container:hover>.middle {
    opacity: 0.4;
} */

/******************************************** Pagination */
.portfolio__navigator{
    width: 100%;
    display: flex;
    margin-top: 24px;
    justify-content: space-between;
}
.paginationBttns {
    display: flex;  
    cursor: pointer;
    justify-content: center;   
    text-align: center;
}

.paginationBttns > li{    
    list-style: none;    
    border: 2px solid rgb(255, 188, 56); 
    margin-right: -2px;   
}
.paginationBttns > li > a{
    line-height: 32px;           
    font-size: 16px;
    font-weight: 500;    
    outline-style: none;
    padding: 4px 8px;
}

.paginationActive{
    background-color: rgb(255, 188, 56);
}
.paginationDisabled{
    background-color: rgba(255, 189, 56, 0.4);    
}

.page__number{
    color: gray;
    font-size: 16px;
}



