.resume__body {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;

}

/****************************************************** Employments */
.employments {
    flex: 0.66;
}

.employment__header {
    margin-bottom: 16px;
    border-radius: 6px 0 0 6px;
    font-size: 0.9rem;
    padding: 5px 2rem;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    border-right: 5px;
    /* background: linear-gradient(90deg, rgba(55, 55, 55, 1) 6%, rgba(76, 165, 208, 1) 6%); */
}

.bulletpoint {
    border-radius: 3px;
    /* background-color: rgb(76, 165, 208); */
    padding: 3px;
    margin-right: 8px;
}

.employment__historyContainer{
    margin-bottom: 32px;
}

.employment__detailheader {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
}

.employment {
    display: flex;
}

.employment__titles>h4{
    font-size: 0.9rem;
    font-weight: 600;
}

.employment__titles>p {
    font-size: 15px;
    color: #9b9b9b;
}

.employment__period {
    font-size: 18px;
    font-weight: 500;
    color: #9b9b9b;
}

.employment__details {
    font-size: 16px;
    color: #909090;
    font-size: 15px;
    line-height: 1rem;
}

/****************************************************** Skills */
.skills {
    flex: 0.28;
}
.skills > h2 {
    font-size: 0.9rem;
    color: #575757;
    text-transform: uppercase;    
    border-bottom: 2px solid #373737;
    margin-bottom: 0.8rem;
    padding-bottom: 3px;
}

.row{
    display: flex;
    margin-bottom: 8px;    
}
.row > p{
    font-size: 14px;
    font-weight: 500;
    color: rgb(100, 100, 100);
    text-transform: uppercase;
}

.buttleticon{
    padding: 4px;
    margin-right: 8px;
}

/***************************************** Circular Progress */
.circular__progress__div{
    display: flex;
    justify-content: center;
    
}
.circularProgress__container{
    /* display: block;
    margin: 20px auto; */
    max-width: 100%;
    /* max-height: 65px; */
}

.circle-bg, .circle {
    fill: none;
    transition: all .5s ease;
}

.percentage{
    font-size: 0.8rem;
    text-anchor: middle;    
    fill: rgb(100, 100, 100);;
    font-weight: bold;    
}
/* .circular__progress__div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.circularProgress__container{   
    max-width: 100%;
    max-height: 65px;
}

.circle {
    fill: none;
    transition: all .5s ease;
}

.percentage{
    font-size: 0.8rem;
    text-anchor: middle;    
    fill: #fff;
    font-weight: bold;    
} */