.resume__body {
    display: flex;
    justify-content: space-between;
    padding: 24px 0 0 0;    
}

/****************************************************** Employments */
.employments {
    flex: 0.66;
}

.employment__header {
    margin-bottom: 16px;
    border-radius: 6px 0 0 6px;
    font-size: 0.9rem;
    padding: 5px 0;
    padding-left: 8%;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    border-right: 5px;    
}

.bulletpoint {
    border-radius: 3px;    
    padding: 3px;
    margin-right: 8px;
}

.employment__historyContainer{
    margin-bottom: 24px;
}

.employment__detailheader {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
}

.employment {
    display: flex;
}

.employment__titles>h4{
    font-size: 0.9rem;
    font-weight: 600;
}

.employment__titles>p {
    font-size: 15px;
    color: #9b9b9b;
}

.employment__period {
    font-size: 12px;
    font-weight: 500;
    color: #9b9b9b;
}

.employment__details {
    font-size: 14px;
    color: #909090;    
    line-height: 1.2rem;
}

/****************************************************** Skills */
.skills {
    flex: 0.28;    
}
.skills > h2 {
    font-size: 0.9rem;
    color: #575757;
    text-transform: uppercase;    
    border-bottom: 2px solid #373737;
    margin-bottom: 0.7rem;
    padding-bottom: 3px;
}

/***************************************** Design Skills */
.designSkill_container{
    margin-bottom: 5px;
    display: flex;
    align-items: center;    
}
.circularProgress__container{
    display: flex;       
    margin-right: 8px;   
}
.circularProgress__container > svg{        
    align-items: center;    
}

.circle-bg, .circle {
    fill: none;
    transition: all .5s ease;
}

.percentage{
    font-size: 0.55rem;
    text-anchor: middle;    
    fill: rgb(100, 100, 100);;
    font-weight: bold;    
}

.buttleticon{
    padding: 1px;
    height: 1.5rem;    
    margin-right: 8px;    
}

.designSkill_container > h2{
    display: flex;    
    font-size: 14px;
    font-weight: 500;
    color: rgb(100, 100, 100);
    text-transform: uppercase;
}
