/* ******************************** Profile Container */
.profile__header {
    display: flex;
    justify-content: space-between;
}

/********************************* Two child of profile Container */
.profile__left {
    display: flex;
}

.profile__right {
    /* display: none; */
}

/********************************* Two child of profile Container */
.profile__image {
    display: flex;
    border: 4px solid #e5e5e5;
    margin-right: 24px;
    object-fit: contain;
}
.profile__image > img {
    object-fit: cover;    
    height: 120px;
}

/********************************* profile__name */
.profile__name>h4 {
    font-size: 18px;
    line-height: 32px;
    color: #4ca5d0;
    font-weight: 500;
}

.profile__name>h1 {
    text-transform: uppercase;
    font-weight: 500;
}


/* Profile BOdy */
.profile__body{
    font-size: 16px;
}