/* ******************************** Profile Container */
.profile__header {
    display: flex;
    justify-content: space-between;
}

/********************************* Two child of profile Container */
.profile__left {
    display: flex;
}

.profile__right {
    margin-right: -200px;
    opacity: 0;
    height: 0;
    display: flex;  
    transform: rotate(180deg);
    transition: all 200ms ease;    
}

.isOpen.profile__right {
    font-size: 16px;
    line-height: 1.2rem;
    margin-right: 50px;
    opacity: 1;
    height: fit-content;
  
    transform: rotate(0);
    transition: all 0.8s ease;
    
  }

/********************************* Two child of profile Container */
.profile__image {
    display: flex;
    border: 4px solid #e5e5e5;
    margin-right: 24px;
    object-fit: contain;     
}

.profile__image > img {
    object-fit: cover;    
    transition: all 0.4s ease;
}

/********************************* profile__name */
.profile__name>h4 {
    font-size: 18px;
    line-height: 32px;
    color: #4ca5d0;
    font-weight: 500;
}

.profile__name>h1 {
    text-transform: uppercase;
    font-weight: 500;
}

/************************************* Profile BOdy */
.profile__body{
    font-size: 14px;
    margin-bottom: 24px;
}